/****************1.顶部************/


/*******************顶部外层容器 *************/

.topbar {
    height: 28px;
    background-color: #101010;
}



/***************** 顶部里层容器*************** */

.topbar .container {
    height: 28px;
    background-color: #101010;
} 

/**************** 里面的P标签 *******************/

.topbar .container p {
    height: 28px;
    line-height: 28px;
    color: #f1f1f1;
}


/* *****************第一个P标签 ******************/

.topbar .container p:first-child {
    text-indent: 210px;
}


/***************** 第二个P标签 *************/

.topbar .container p:nth-child(2) {
    margin-right: 10px;
}


/* 第一个P标签下面的a标签 ********************/

.topbar .container p:first-child a {
    color: #fff;
    text-decoration: none;
    text-indent: 210px;
}


/* ***************第二个P标签 下面的标题 和 注册 ****************/

.topbar .container p:nth-child(2) .title,
.topbar .container p:nth-child(2) .register {
    color: #ff6700;
}


/**********************第二个P标签下面的登录******************/

.topbar .container p:nth-child(2) .login {
    color: #fff;
}


/**************************2.导航*********************/

.nav {
    height: 80px;
    background-color:white;
}
/*搜索购物车订单大容器**/

.nav .search-shopcart-order {
    margin-top: 5px;
    height: 35px;
}


/*搜索框*/

.nav .search-shopcart-order .search-input {
    width: 440px;
    height: 35px;
    background-color: #ff6700;
    margin-right: 38px;
}


/*搜索框*/

.nav .search-shopcart-order .search-input .search {
    width: 390px;
    height: 31px;
    border: 2px solid #ff6700;
    text-indent: 10px;
    color: #333;
    outline: none;
}


/*搜索框中的图标span*/

.nav .search-shopcart-order .search-input span {
    display: inline-block;
    width: 50px;
    height: 35px;
    position: absolute;
    background-image: url(../img/bgicon.png);
}


/*购物车和订单*/

.nav .search-shopcart-order .shopcart-order {
    width: 200px;
    height: 35px;
    background-color: pink;
    font-size: 0;
}


/*购物车订单按钮*/

.nav .search-shopcart-order .shopcart-order button {
    width: 100px;
    height: 35px;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #333;
}


/*购物车按钮*/

.nav .search-shopcart-order .shopcart-order button:nth-child(1) {
    background-color: #ff6700;
    color: #fff;
    padding-left: 3px;
}


/*购物车图标*/

.nav .search-shopcart-order .shopcart-order button:nth-child(1) {
    background-color: #ff6700;
    color: #ccc;
    background-image: url(../img/bgicon.png);
    background-position: -5px -44px;
}


/* 购物车图标 */


 .nav .search-shopcart-order .shopcart-order button:nth-child(1)span:first-child {
    background-image: url('../img/bgicon.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 16px;
    margin-right: 3px;
}

/*购物车文字*/
.nav .search-shopcart-order .shopcart-order button:nth-child(1)span:nth-child(2) {
    vertical-align: top;
    display: inline-block;
}
/*数量*/
.nav .search-shopcart-order .shopcart-order button:nth-child(1)span:nth-child(3) {
    vertical-align: top;
    display: inline-block;
    width: 20px;
    margin-left: 15px;
} 


/*分类导航*/

.nav .category-menu {
    margin-top: 15px;
    height: 30px;
}

.nav .category-menu .left-logo {
    width: 200px;
    height: 30px;
    position: relative;
}

.nav .category-menu .left-logo img {
    position: absolute;
    bottom: 0;
    left: 2px;
    width:200px;
}

.nav .category-menu ul {
    width: 1000px;
    height: 30px;
}
/*到了li*/
.nav .category-menu ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 80px;
    color: rgb(119, 76, 76);
    font-size: 14px;
    text-align: center;
    font-weight: 700;
}


/*****************3.分类导航和banner*********************/
.menu {
    height: 430px;
}
/*左侧导航*/
.menu .sideMenu {
    height: 430px;
    width: 200px;
}
/*导航列表*/
.menu .sideMenu ul {
    height: 430px;
    width: 200px;
    background-color: #f3f3f3;
    position: relative;
    border-top: 2px solid #ff6700;
}
/*导航li*/
.menu .sideMenu ul li {
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-indent: 20px;
}
/*导航下的a 标签*/
.menu .sideMenu ul li a{
	color:black;
	text-decoration: none;
}
/*导导航li激活效果*/
.menu .sideMenu ul li:hover {
    background-color: #fff;
}
/*li激活下的a标签样式*/
.menu .sideMenu ul li:hover a {
    color: #ff6700;
}
/*一级导航标题*/
.menu .sideMenu ul li .title {
    width: 200px;
    height: 30px;
    line-height: 30px;
}
/*li激活下一集导航标题*/
.menu .sideMenu ul li:hover .title {
    background-color: #fff;
    position: absolute;
    z-index: 99;
}
/*激活显示的二级菜单*/

.menu .sideMenu ul li:hover .subMenu {
    display: block;
}
.menu .sideMenu ul li .subMenu {
    position: absolute;
    top:0px;
    left:198px;
    border:2px solid #d7f81c;
    width: 500px;
    height: 426px;
    display: none;
	
}
.menu .banner {
    height: 430px;
    width: 1000px;
}


/**********4.今日推介********/

.recommend {
    height: 544px;
}
.recommend  .title{
    width: 1200px;
    height: 40px;
    line-height:40px;
    margin-top:10px ;
    font-size: 24px;
    font-weight: 300px;
    text-indent: 24px;
    color: #ff6700;
    background-color:rgb(255, 255, 255);
    border-bottom:6px solid #ff6700;
}
/*推荐内容*/
.recommend .recommend-content{
    width: 1190px;
    height: 498px;
    margin: 0 auto;
}
/*列表容器*/
.recommend .recommend-content ul{
    width: 1190px;
    height: 498px;
    margin: 0 auto;
    background-color:#ff6700;
}
/*推荐列表li*/
.recommend .recommend-content ul li{
    width: 196px;
    height: 247px;
    background-color: #fff;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}
/*整体居中*/
.recommend .recommend-content ul li {
    text-align: center;
}
/*p标签样式*/
.recommend .recommend-content ul li p{
    text-align: left;
    text-indent: 10px;
    font-size: 14px;
}
/*限时*/
.recommend .recommend-content ul li p.limit-time {
   text-align:left;
   text-indent: 0;
}
/*全国联保*/
.recommend .recommend-content ul li p.text{
    color:red;
}
/*价格*/
.recommend .recommend-content ul li p.price{
    color:red;
    font-size:20px;
    margin-top: 5px;
    font-weight:100px;
}
/***********5.电子书***************/
.ebooks {
    height: 496px;
    margin-top: 34px;
}
/*左侧盒子*/
.ebooks .left-box{
    width: 906px;
    height: 496px;
}

/*顶部*/
.ebooks .left-box .top{
    width: 906px;
    height:40px;
    line-height: 40px;
    background-color: rgb(255, 255, 255);
    border-bottom: 6px solid #ff6700;
}
/*标题*/
.ebooks .left-box .top .title{
    text-indent: 24px;
    font-size: 24px;
    font-weight: 300px;
    color: #ff6700;
}
/*右侧标题导航*/
.ebooks .left-box .top ul li{
    float: left;
    font-size: 18px;
    width: 100px;
    text-align: center;
}
/*右侧激活类*/
.ebooks .left-box .top ul li.active{
    background-color:#ff6700;
    color: #fff;
}
/*下部分内容*/
.ebooks .left-box .content{
    height: 450px;
    width:906px;
    background-color:white;
}
/*左侧广告*/
.ebooks .left-box .content .ads{
    width: 236px;
    height: 450px;
    background-color#f9f9f9;
}

.ebooks .left-box .content .ads .top-img{
    width: 263px;
    height: 290px;
}
.ebooks .left-box .content .ads .bottom-text{
    height: 160px;
    width: 236px;
}
.ebooks .left-box .content .ads .bottom-text ul {
    width: 235px;
    height:160px ;
    margin-left: 1px;
}
.ebooks .left-box .content .ads .bottom-text ul li{
    float: left;
    width: 78px;
    height: 40px;
    line-height:40px ;
    text-indent: 5px;
}
/*右侧图书列表*/
.ebooks .left-box .content  .ebooks-list{
    width: 670px;
    height: 450px;
    background-color:#ccc;
}
.ebooks .left-box .content .ebooks-list > ul > li{
    float: left;
    height: 223px;
    width: 165px;
    background-color: white;
    margin-left: 2px;
    margin-bottom: 2px;
    text-align: center;
}
.ebooks .left-box .content .ebooks-list > ul > li p{
    text-align:left;
    text-indent: 10px;
}
.ebooks .left-box .content .ebooks-list > ul > li p:first-child{
    font-size:18px;
}
.ebooks .left-box .content .ebooks-list >ul >li >img{
    margin:15px auto ;
}
.ebooks .left-box .content .ebooks-list > ul > li > p:not(:first-child){
    color: red;
}
.ebooks .left-box .content .ebooks-list > ul > li > p:last-child{
    font-size: 18px;
}

/*一个特别的li 将来要的轮播容器*/
.ebooks .left-box .content .ebooks-list ul li:first-child{
    width: 332px;
    height: 223px;
    background-color:green;
}
.ebooks .left-box .content .ebooks-list ul li:first-child .pptbox{
    width: 332px;
    height: 223px;
    background-color: hotpink;
}

/*右侧盒子*/
.ebooks .right-box{
    width: 286px;
    height: 456px;
    margin-top: 40px;
    border: 2px solid #ccc;

    /*变为怪异盒子*/
    box-sizing: border-box; 
}
.ebooks .right-box .title{
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    font-weight: 200px;
    color: #333;
}
.ebooks .right-box  ul li{
    line-height: 42px;
    font-size: 16px;
    text-indent: 5px;
}

.ebooks .right-box  ul li .desc img{
    margin-right: 9px;
}
/*新书列表交互相关样式*/
.ebooks .right-box  ul li .desc{
    line-height: 20px;
    font-size:13.5px;
    height: 150px;
    color: #333;
    /*隐藏 :详情默认都是隐藏的的 只有第一个显示*/
    display: none;
}


.ebooks .right-box  ul li:first-child .ebooks-title {
    /* 默认所有标题都显示 只有第一个隐藏*/
    display:none;
}

.ebooks .right-box  ul li:first-child .desc{
    /*默认第一个显示详情*/
    display: block;
}
/***********6.服装************************/

.clothes {
    margin-top:30px;
    height: 500px;
    background-color: rgb(4, 68, 2);
}


/***************7.户外运动******************/

.sport {
    height: 500px;
    background-color: #333;
}


/*****************8.童装*************************/

.children-clothes {
    height: 500px;
    background-color: red;
}


/*************9.家居日用**************/

.daily {
    height: 500px;
    background-color: #444;
}


/***************10.推广商品*************/

.promotion {
    height: 500px;
    background-color: rgb(51, 33, 33);
}


/******************11.尾部*************/

.footer {
    height: 500px;
    background-color: rgb(59, 35, 35);
}